.m-footer
    a(href="#",class="active")
        span.icon2.icon-lchomedefault01
        |理财推荐
    a(href="#",class="active")
        span.icon2.icon-lcaboutdefault01
        |投资列表
    a(href="#",class="active")
        span.icon2.icon-lcassetsdefault01
        |安全保障
.m-space-100