//关于我们
extends ../layout
block header
	include ./block/header
block main
	.m-container
		.aboutus
			.banner
			.content
				.item
					.title 阳光钱包 
					.con
						p 由阳光互信公司倾力打造的移动互联网金融平台。互信团队基于大数据技术潜心深入消费金融领域，为投资者提供众多优质资产。为了更好的保障用户的投资安全，平台上的所有产品均由阳光保险承保，如发生逾期由阳光保险极速赔付。
				.item
					.title 阳光互信
					.con
						p 北京阳光互信信息技术有限公司，系阳光保险集团成员企业，来自阿里巴巴和蚂蚁金服的管理团队，顺应互联网+传统的时代趋势，秉承“分享创造价值”的开放理念，设计推出多款互联网金融消费分期产品，阳光钱包便是顺应投资者需求隆重推出的服务平台。
				.item
					.title 强大的背景
					.con
						p 阳光保险集团股份有限公司是中国500强、中国服务业100强企业。成立3年跻身七大保险集团，5年超越了与其同期成立的71家保险主体。以强大的集团优势阳光保险集团有效整合旗下资源，持续研发满足客户需求的产品，不断升级以“闪赔”、“直赔”为特色的服务，着力打造强大的市场拓展能力、卓越的客户服务能力、杰出的风险管控能力和专业的资产管理能力，实现了健康、持续、快速的发展。