//我的资产
extends ../layout

block header
    include ./block/header
block main
    .m-container.asset
        .invest-header
            .personal.clearfix
                //a(href="#")
                //    img(src="img/licai/ensure-icon.png")
                a(href="#")
                    i.icon.icon-setting
            p 总资产(元)
            h2 123.45
            .funds.clearfix
                //.line
                .half
                    p 预期收益
                    p 2,000.00
                .half
                    p 累计收益
                    p 456.78
        .asset-odd
            .m-list
                .m-list-item
                    a(href="#")
                        label.f32 可用余额
                        span.icon.icon-right
                        span.odd 20,000.00
            .btn-group
                a(href="#") 提现
                a(href="#") 充值

        .m-list.m-border-t.m-border-b
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 我的投资
                    span.icon.icon-right
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 交易记录
                    span.icon.icon-right
        .m-list
            .m-list-item
                a(href="#")
                    label.f32 在线客服
                    span.icon.icon-right
        include ./block/ensure_mark
    include ./block/footer
    script(src="js/licai.js")