//信用理财
extends ../layout
block header
    -var title = "关于信用理财"
    include ./block/header
block main
    .m-container.credit
        .credit-header
            //img(src='./img/licai/credit-banner.png')
        .credit-body
            section.section01
                .part01
                    span.img
                    p 收益高，风险低
                .part02
                    //img(src="./img/licai/credit-slogan02.png")
                    span.img
                    p 风险高
                .part03
                    //img(src="./img/licai/credit-slogan03.png")
                    span.img
                    p 收益低
                p.desc *以上收益率，为年化收益，具体收益以实际到账收益为准。
            section.section02
                h2 什么是信用理财？
                p.desc 信用理财是经平台风控严格筛选的低风险理财,可以通过平台特约渠道申请借款购买。
                .explan.clearfix
                    .box.fl
                        p.title 资金
                        .rel
                            p 阳光保险提供保证保险，保障资金来源。
                            p 资金对接各大银行安全稳定。
                    .to
                    .box.fr
                        p.title 低风险理财
                        .rel
                            p 风控精英来自蚂蚁金服、阿里巴巴。
                            p 大数据风控模型隔离风险资产。
                .ensure
                    p
                        i.icon2.icon-lcsafeguard01
                        span 阳光保险全程提供账户资金安全保障
                    p
                        i.icon2.icon-lcencrypt01
                        span 国际标准安全加密，提供银行级技术保障
                    p
                        i.icon2.icon-lcteam01
                        span 强大的股东背景与管理团队，平台实力阳光保障

            section.section03
                h2 杠杆效应
                p.desc 高收益意味着高风险，低风险同样收益低。在购买低风险理财时，通过本金的杠杆作用，使用低利率借款，放大利息差。借别人的钱，理自己的财。
                .bar
                    .m-border-l.m-border-b.new-echarts
                        .title.c-Grey 收益
                        .item.c1
                            span.f28 2100元
                            div
                            em.c-Grey 借款购买
                        .item.c2
                            span.f28 750元
                            div
                            em.c-Grey 直接购买
                        .item.c3
                            span.f28 90元
                            div
                            em.c-Grey 银行理财
                .info
                    p.desc 1万元本金，投资7%理财，使用借款购买
                    ul.clearfix
                        li
                            p 借款额度
                            p 5万元
                        li
                            p 借款期限
                            p 90天
                        li
                            p 借款费率
                            p 4.00%
            section.section04
                div
                    h2 如何申请退出？
                    p 您只需投入一定金额的自有本金，在借款杠杆的撬动下，可以申请到相应倍数的借款。购买理财后，平台会自动结算您正常兑付的本息。
                    p 快捷借款，一键预约，到期兑付，自动分润坐享收益倍利
                .mt-30
                    h2 想要更高的借款倍数？
                    p 想要更高的借款倍数？完善更多的个人资料，更高的借款倍数或许就会向你开放
            section.section05
                h2 合作伙伴
                p
                    //img(src="./img/licai/partner01.png")
                p
                    //img(src="./img/licai/partner02.png")
                p
                    //img(src="./img/licai/partner03.png")


