//直接购买页
extends ../layout

block header
	include ./block/header
	.m-container
		.item-buy.direct-buy
			.pro_dec.mt-20
				.pro_name
					h3 阳光信用宝03167868
					span 剩余可投：
						i.c-Orange 2131321.00元
				ul
					li 预期年化：70%年化利率＋3％借款利率
					li 投资期限：60天
					li 回款方式：到期还本付息
			.pro_direct_buy
				.buy_info.mt-20
					h3.f32 投入本金
				.buy.f32
					label ¥
					input(type="text" name="input_can_buy" id="input_can_buy" data-last="10761188" data-canbuy="1000" data-funding-id="1" placeholder='最多可投10000元')
					em.message

				.buy_info.mt-10.m-border-t
					h3.f28 可用金额：
						span.c-Blue.f28 20000.00元
						a(href='#').fright.c-Blue.f28 充值
			.agreement
					input(type="checkbox",checked="checked",class="m-checkbox")
					span 我已阅读并确认
						a(href='#').c-Blue#show-footer 《阳光互信借款投资协议组》

			button.m-btn.Orange-bg.br-radius-8.m-btn-orange(disabled) 确认投资
			include ./block/ensure_mark
	script.
		var min_invest = 3, // 最小金额
			invest_step = 4; // 倍增
		function proudct_buy(opts){
			console.log(opts)
		}
	script(src="js/licai_info.js")