//交易记录
extends ../layout
block header
    include ./block/header

block main
    #no_result.error_page.hidden
        p
            img.no-list(src="./img/licai/plutus02.png")
        p 暂无交易记录，去发现更多财富
    .m-container.deal-record
        #deal-record.list
            ul
    script(src="js/licai_dealRecord.js")
    script.
        var page_index = 1,
            page_size = 3,
            _url = '/deal_record';
            //_url = '/LcInvest/transRecord';