// 理财详情页
extends ../layout

block header
    -var title = '理财'
    include ./block/header

block main
    script.
        var min_invest = 7,
            invest_step = 8;
    .m-container
            // 项目利率及购买
            .project
                // 项目利率
                .project-info
                    .info
                        .title
                            span 借钱理财
                            em 阳光信用宝03162102
                        .btn-desc(onclick="layer_income.show()")
                        .top
                            p 预期年化
                            em(data-rate="7.0",class="rate")
                        .income 7.0%原始收益 + 5.0%借款收益
                        
                        .desc
                            |期限30天
                            span |
                            |100元起投
                            span |
                            |到期还本付息
                    .list
                        dl
                            dt 截止时间 2016-02-29 18:00
                            dd 起息时间 2016-03-01
                        ul
                            li
                                span 进度
                                em 项目总金额：2,000,000.00元
                            li
                                span 66%
                                .progress
                                    .point(style="width:60%")
                                        em
                                    
                                    


            // 项目描述
            .project-desc
                .item.m-border-t.m-border-b
                    .title.f28.m-border-b 
                        .icon2.icon-lcanalysis01
                        h2 收益分析
                    .content
                        .bar
                            p.desc *投资1万元，同等产品收益对比
                            .echarts_bar.m-border-l.m-border-b
                                .title.c-Grey 收益
                                .step.c1(style="height:80%")
                                    span.f28 1000元
                                    div 
                                    em.c-Grey 借款购买
                                .step.c2(style="height:55%")
                                    span.f28 750元
                                    div 
                                    em.c-Grey 直接购买
                                .step.c3(style="height:10%")
                                    span.f28 90元
                                    div 
                                    em.c-Grey 银行理财
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcintroduce01
                        h2 阳光信用宝
                    .content
                        p.words.f28 阳光信用宝是阳光钱包独家推出的信用理财。由风控精选低风险资产，可通过平台特约渠道申请借款进行投资在投资的实际风险水平不变的前提下，实现收益倍增。
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcloan01
                        h2 借钱理财
                    .content
                        p.words.f28 用于借款投资的信用额度共计1万元。
                        p.words.f28 需投入等额本金用于申请理财借款，投入本金与理财借款仅用于购买本款理财定向使用。
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcassetsrange01
                        h2 出借资产范围
                    .content
                        ul.other.f28
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 身份认证
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 信用报告
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 机构认证
            .m-list
                .m-list-item
                    a(href="#")
                        label.f32 投资记录
                        span.icon.icon-right
            .loan-info
                include ./block/ensure_mark
    .project-buy
        p 剩余可投：
            span 800,000.00元
        a(href="#") 借款投资
    .space-230
    .backTop.hidden
        i.icon2.icon-lcbacktop01
        p 顶部
    script(src="js/licai_info.js")
    script.
        
        // 收益说明弹层
        var layer_income = Layer({
            title:'收益说明',
            className : 'layer-income',
            content:'<div class="layer-income-desc"><div class="title m-border-b"><span>12.0%</span>最高年化收益</div><div class="content"><strong>7.0%正常收益</strong><p>经风控严格把关，精选优质低风险资产，收益稳健。</p><strong>2.0%借款收益</strong><p>借入一笔利率5.0%的资金，投资7.0%的低风险资产，坐享收益翻倍。</p><strong>* 7.0% + 2.0% = 9.0%</strong></div></div><div class="layer-incom-icon"></div>',
            success_btn_text : '知道了',
            success:function(){ 
                console.log('success')
            }
        })
        var is_opend = $.fn.cookie('is_opend');
          if(!is_opend){
            layer_income.show();
            $.fn.cookie('is_opend',1);
          }
        
        