//投资列表
extends ../layout
block main
    #no_result.error_page.hidden
        p
            img.no-list(src="./img/licai/plutus02.png")
        p 暂无投资列表，去发现更多财富
    .m-container.invest-list
        ul#finance
            //.head
            //    i
            //    span 信用理财
            //    span.privi 信用特权
            //li
            //    a(href='#')
            //        p.part01 阳光信用宝03161902
            //        .part02.clearfix
            //            .profit
            //                p 年化收益
            //                p
            //                    |7%
            //                    span.plus +5%
            //            .time
            //                p 期限(元)
            //                p 30
            //            .use
            //                p 剩余可投(元)
            //                p 0.00
            //        .part03.clearfix
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 阳光保险承保
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 本金保障
            //        .status.buy 募集中
        ul#plan
            //.head
            //    i
            //    span 阳光计划
            //li
            //    a(href='#')
            //        p.part01 阳光信用宝03161902
            //        .part02.clearfix
            //            .profit
            //                p 年化收益
            //                p 8.2%
            //            .time
            //                p 期限(元)
            //                p 30
            //            .use
            //                p 剩余可投(元)
            //                p 0.00
            //        .part03.clearfix
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 阳光保险承保
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 本金保障
            //        .status.hold 计息中
            //li
            //    a(href='#')
            //        p.part01 阳光信用宝03161902
            //        .part02.clearfix
            //            .profit
            //                p 年化收益
            //                p 8.5%
            //            .time
            //                p 期限(元)
            //                p 30
            //            .use
            //                p 剩余可投(元)
            //                p 0.00
            //        .part03.clearfix
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 阳光保险承保
            //            p
            //                i.icon2.icon-lcsafeguard01
            //                span 本金保障
            //        .status.over 已满标
        .m-space-100
    .licai-index-mark
        include ./block/ensure_mark
    include ./block/footer
    script(src="js/licai_investLists.js")
    script.
        var page_index = 1,
            page_size = 1,
            _url = '/invest_lists';
