//投资记录
extends ../layout

block main
    #no_result.hidden
        include ./block/no_result
    .m-space-100
    .m-container.invest-record
        div#invest_record_list
            .header.clearfix
                p.tr01 投资人
                p.tr02 投资金额(元)
                p.tr03 投资时间
            ul.list
        script.
            var __pid = '1',
                __url = '/invest_records',
                page_index = 1,
                page_size = 10; 
                //__url = '/LcInvest/investRecordsPage';
        script(src="js/licai_investRecord.js")
