// 理财详情页
extends ../layout

block header
    -var title = '理财'
    include ./block/header

block main
    script.
        var min_invest = 7,
            invest_step = 8;
    .m-container
            // 项目利率及购买
            .project
                // 项目利率
                .project-info
                    .info
                        .title
                            span 本息保障
                            em 阳光教育宝03162102
                        .top.nopry
                            p 预期年化
                            em(data-rate="1.0",class="rate")
                        .desc
                            |期限30天
                            span |
                            |100元起投
                            span |
                            |到期还本付息
                    .list
                        dl
                            dt 截止时间 2016-02-29 18:00
                            dd 起息时间 2016-03-01
                        ul
                            li
                                span 进度
                                em 项目总金额：2,000,000.00元
                            li
                                span 66%
                                .progress
                                    .point(style="width:60%")
                                        em
            // 项目描述
            .project-desc
                
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcinterestprincipal01
                        h2 本息阳光保障
                    .content
                        p.words.f28 本项目由阳光信保全额承保，保障本息到期全额兑付。借款人如到期未还，由阳光信保极速赔付。
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcintroduce01
                        h2 阳光计划介绍
                    .content
                        p.words.f28 阳光计划是阳光钱包推出的有保险保障的出借计划，以便捷、高效的方式满足不同出借人对不同投资的需要。通过大数据处理为基础的债权匹配系统，根据借款人的金额、期限风险评级等，精选优质分期资产，朝阳行业阳光出借。
                .item.m-border-t.m-border-b
                    .title.f32.m-border-b
                        .icon2.icon-lcassetsrange01
                        h2 出借资产范围
                        span 教育分期资产
                    .content
                        ul.other.f28
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 身份认证
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 信用报告
                            li
                                a(href="#")
                                    span.icon.icon-checkcircleo
                                    i 机构认证
            .m-list
                .m-list-item
                    a(href="#")
                        label.f32 投资记录
                        span.icon.icon-right
            .loan-info
                include ./block/ensure_mark
    .project-buy
        p 剩余可投：
            span 800,000.00元
        a(href="#") 购买
    .space-230
    .backTop.hidden
        i.icon2.icon-lcbacktop01
        p 顶部
    script(src="js/licai_info.js")
    script.
        alert(typeof Domready)；
    
        