//我的投资
extends ../layout

block header
    include ./block/header
block main
    #no_result.error_page.hidden
        p
            img.no-list(src="./img/licai/plutus02.png")
        p 暂无投资，去发现更多财富
    .m-container.invest
        #list
            .invest-header
                .funds.clearfix
                    .line
                    .half
                        p 本金投资(元)
                        h2 3,200.00
                    .half
                        p 借款投资(元)
                        h2 10,000.00
            #invest_list
                ul.list
            include ./block/ensure_mark
    script(src="js/licai_invest.js")
    script.
        var page_index = 1,
            page_size = 10,
            _url = '/invest';
