// 理财详情页
extends ../layout

block header
    -var title = '理财'
    include ./block/header

block main
    script.
        var min_invest = 7,
            invest_step = 8;
    .m-container
            // 项目利率及购买
            .project
                // 项目利率
                .project-info
                    .info
                        .tip
                            span 
                            i 阳光保障
                        .btn-desc(onclick="layer_income.show()")
                        .top
                            p 最高年化收益
                            em 
                                |12
                                span %
                        .income 
                            ul
                                li
                                    span 7
                                    |%原始收益
                                li
                                    span 12
                                    |%借款收益
                            i.icon.icon-cross
                        .progress
                            .line
                            .current(style="width:10%")
                            .point(style="left:10%") 
                                em
                                    span
                                .number
                                    span 进度0%
                                    i
                        .desc
                            |期限30天
                            span |
                            |100元起投
                            span |
                            |剩余金额20,000元
                    .m-list.m-border-t.m-border-b
                        .m-list-item.m-border-t
                            label.f28 截止时间
                            label.f28.fright 2016-02-29 18:00
                        .m-list-item.m-border-t
                            label.f28 起息时间
                            label.f28.fright 2016-03-01
                // 购买
                .project-buy
                    .title
                        ul.m-border-b
                            li.active
                                span.f32 借款购买
                            li
                                span.f32 直接购买
                    .content
                        .item
                            // 满标状态
                                .buy.done.m-border.f32
                                    label 投入本金：
                                    input(type="text",data-last="10000",step="0.01",placeholder="可用余额10000",value=' ',disabled)
                                    i 充值
                            // 可投状态
                            .buy.m-border.f32
                                label 投入本金： 
                                input(type="text",data-funding-id="1",data-last="5000",data-borrow="10000",step="0.01",placeholder="可用余额10000")
                                a(href="#",class="c-Blue") 充值
                                em
                            ul.m-border-b.f32
                                li 借款金额：
                                    span ￥0
                                    i.icon.icon-questioncircleo(onclick="layer_loan.show()")
                                li 借款利率：
                                    span 4.00%
                                li 借款期限：
                                    span 3个月
                                li 还款方式：
                                    span 到期一次性还本付息
                            .pact.c-Grey
                                // 满标状态
                                    input(type="checkbox",checked='checked',disabled)
                                input(type="checkbox",checked='checked')
                                |我已阅读并确认
                                a(href="#",class="c-Blue") 《阳光互信借款协议组》
                            //  满标状态
                                button.m-btn(disabled) 满标 
                            button.m-btn(disabled) 确认预约
                        .item
                            p.only *直接购买只能享受原始收益
                            .bar
                                .echarts_bar.m-border-l.m-border-b
                                    .title.c-Grey 收益
                                    .step.c1(style="height:0%")
                                        span.f28
                                        div
                                        em.c-Grey 借款购买
                                    .step.c2(style="height:0%")
                                        span.f28
                                        div
                                        em.c-Grey 直接购买
                                    .step.c3(style="height:0%")
                                        span.f28
                                        div 
                                        em.c-Grey 银行理财
                            .buy.m-border.f32.done
                                label 投入本金：
                                input(type="text", data-rate="0.12,0.07,0.02",placeholder="可用余额199,999.00",id="input_captial_buy",data-last="199990")
                                span.c-Blue#captial_buy_all(data-done="1") 全投
                                em
                            button.m-btn(disabled) 认购
            // 项目描述
            .project-desc
                .item.m-border-t.m-border-b
                    .title.f32.c-Grey.m-border-b 项目详情
                    .content
                        ul.desc.f28
                            li 项目名称：倍利宝一号  001期
                            li 项目总额：2,000,000.00
                            li 投资期限：90天
                            li 还款方式：一次性还本付息
                            li 起投金额：100元
                            li 递增金额：100元
                .item.m-border-t.m-border-b
                    .title.f32.c-Grey.m-border-b 项目介绍
                    .content
                        p.words.f28 产品在募集期间并未被确认成立，此时将显示状态为确认中。此时您的认购资金冻结在您的支付宝账户对应的产品份额锁定，尚未计入您的资产。募集期结束后产品若成立则冻结资金将从您的支付宝账户划出，对应的产品份额将会计入您的资产中，您可至“我的资产”查询；产品若募集失败，冻结资金将会解冻，对应的产品份额将不会计入您的资产。针对【我的资产】下的份额各状态解释如下
                .item.m-border-t.m-border-b
                    .content
                        ul.other.f28
                            li
                                a(href="#")
                                    span.icon2.icon-lcprotocol01
                                    i 项目协议
                            li
                                a(href="#")
                                    span.icon2.icon-lcplan01
                                    i 还款计划
                            li
                                a(href="#")
                                    span.icon2.icon-lcrecord01
                                    i 投资记录
                            li
                                a(href="#")
                                    span.icon2.icon-lcproblem01 
                                    i 常见问题
                include ./block/ensure_mark
    .backTop.hidden
        i.icon2.icon-lcbacktop01
        p 顶部
    script(src="js/licai_info.js")
    script.
        
        // 收益说明弹层
        var layer_income = Layer({
            title:'收益说明',
            className : 'layer-income',
            content:'<div class="layer-income-desc"><div class="title m-border-b"><span>12.0%</span>最高年化收益</div><div class="content"><strong>7.0%正常收益</strong><p>经风控严格把关，精选优质低风险资产，收益稳健。</p><strong>2.0%借款收益</strong><p>借入一笔利率5.0%的资金，投资7.0%的低风险资产，坐享收益翻倍。</p><strong>* 7.0% + 2.0% = 9.0%</strong></div></div><div class="layer-incom-icon"></div>',
            success_btn_text : '知道了',
            success:function(){ 
                console.log('success')
            }
        })
        // 收益说明弹层
        var layer_loan = Layer({
            title:'',
            content:'<p>投入本金是您用来申请理财借款的资金，借款金额根据投入本金相应计算得出。确认预约后，投入本金与申请的借款，将一并用于定向购买该款理财使用。</p>',
            success_btn_text : '知道了',
            success:function(){
                console.log('success')
            }
        })
        // 投资进度
        project_progress(0.6666);
        function proudct_buy(opts){ 
            console.log(opts)
        }
        