//更多
extends ../layout

block header
	include ./block/header
block main
	.m-container
		.morebanner
			img(src="./img/morebanner02.png")
			h4 互信钱包
				i V2.0
			p 阳光保险集团成员企业
		.m-list.m-border-t.m-border-b
			.m-list-item.m-border-t
				a(href="#")
					label.f32 公司简介
					span
			.m-list-item.m-border-t
				a(href="#")
					label.f32 官方网站
					span.morenet www.51huxin.com
		.moreicon
			.morefloat
				span
					a(href="#")
						i.icon2.icon-lcservice01
				p 在线客服
			.morefloat
				span
					a(href="#")
						i.icon2.icon-lccooperation01
				p 商务合作
		.morefooter
			p 客服电话:400-816-9090
			p 9:30-18:00(工作日)



