//网络异常
extends ../layout
block header
    include ./block/header
block main
    .m-container.error_page
        p
            img.net(src="./img/licai/plutus01.png")
        p 网络加载出现问题
    script(src="js/licai.js")
