//服务中心
extends ../layout
block header
    -var title = "服务中心"
    include ./block/header
block main
    .m-container.qa
        .phone
             a.phone_btn(href="tel:400-816-9090")
                i.icon2.icon-lctelephone01.f32
                |客服电话：400-816-9090
        ul
            li
                .question
                    span 1. 互信钱包是什么平台？
                    i.icon.icon-down
                .answer
                    |答：互信钱包是由阳光保险集团成员企业——北京阳光互信网络技术有限公司推出的互联网金融平台。
                    |基于大数据技术与风控技术，立足于提供安全、高效的金融信息服务。
            li
                .question
                    span 2. 在互信钱包投资有什么优势？
                    i.icon.icon-down
                .answer
                    |答：互信钱包独有的信用理财方式，降低了投资门槛，实现了购买低风险理财同时享受高收益的有效结合。
                    |依托阳光保险集团的强大实力，互信钱包让人人都可以享受信用带来的价值。
            li
                .question
                    span 3. 选择借款购买信用理财有什么好处？
                    i.icon.icon-down
                .answer
                    |答：借款购买可以扩大投资本金，通过借款与理财间的收益差，放大获得的收益。
                    |理财到期后，平台将自动结算借款本息，将您的自有本金及超额收益支付到您的平台账户中。
                    |信用理财方式，放大了投资本金，带来了收益增值，同时保持了理财产品的低风险，实现了同样风险，更高收益。
            li
                .question
                    span 4. 在互信钱包里的投资安全吗？
                    i.icon.icon-down
                .answer
                    |答：互信钱包全面接入第三方支付，平台不碰触用户资金。您的投资由阳光保险全程提供账户资金安全保障，资金对接各大银行，
                    |理财资产经风控严格把关，从源头上保证资产质量，风险低于同类理财产品。
            li
                .question
                    span 5. 购买信用理财的收益如何计算？
                    i.icon.icon-down
                .answer
                    |答：收益根据购买方式“借款购买”和“直接购买”，有所区别。
                    |“借款购买”时，所获收益为原始收益+借款收益。“直接购买”仅能享受原始收益。
            li
                .question
                    span 6. 购买信用理财后，何时能查看到收益？
                    i.icon.icon-down
                .answer
                    |答：购买后计息开始时间为为T+1日，T为满标日或募集截止日。
            li
                .question
                    span 7. 在投资前我该注意什么？
                    i.icon.icon-down
                .answer
                    |答：为了保障您的资金安全，需要您首先进行实名认证并完善账户信息。
                    |<br/>1.进入我的资产—设置
                    |<br/>2.选择“实名认证”、“我的银行卡”
                    |<br/>3.进行充值
                    |<br/>4.选择投资项目—投资
            li
                .question
                    span 8. 如何购买信用理财？
                    i.icon.icon-down
                .answer
                    |答：首先进行账户充值，充值成功后，即可购买理财。募集期限内，每人均可多次认购，认购次数不限。
                    |<br/>1.借款购买，投入自有本金后，会自动计算出您对应的借款金额，目前仅开放1倍购买权限。您的总信用理财额度为一万元。
                    |<br/>2.直接购买，使用您的自有本金购买，满足起投及递增的金额要求外，投资金额无上限。
            li
                .question
                    span 9. 提现规则？
                    i.icon.icon-down
                .answer
                    |答：1.提现申请最低10元起，低于10元无法进行提现。
                    |<br/>2.用户每日可提现3次，超过次数将无法提交提现申请。
                    |<br/>3.每次提现收取2.00元手续费，互信钱包为您全额垫付。
                    |<br/>4.到账时间为T+1，即通过审核后第二个工作日到账。且不包含双休日和其他法定节假日。如有资金流动性需求，应避免非工作时间段提出申请。
            li
                .question
                    span 10. 如何充值？
                    i.icon.icon-down
                .answer
                    |答：首先绑定银行卡，点击充值，输入您对应的充值金额，完成充值。
                    |目前，您只能绑定一张银行卡，如需更换已绑定银行卡，可通过客服电话：400-816-9090进行更新。
            li
                .question
                    span 11. 如果要咨询，怎么联系互信钱包？
                    i.icon.icon-down
                .answer
                    |答：我们的客服电话：400-816-9090；您也可以在我的资产页通过在线客服进行咨询。
    script(src="js/licai.js")
    script.
        $('li').click(function(){
            var $this = $(this)
            $this.find('.answer').toggle();
            $this.find('.question i').toggleClass('icon-down').toggleClass('icon-up');
        })


