//充值状态页
extends ../layout
block header
    include ./block/header

block main
    .m-container
        .lc-status
            .status.error
                i.icon
                h1 充值失败
            .info
                p.clearfix
                    span 储蓄卡
                    span 建设银行(5800)
                p.clearfix
                    span 失败金额
                    span ¥10,000.00
            button.m-btn.btn-yellow 返回
            .scan
                a(href="#") 查看我的资产
                i.icon.icon-right
        .lc-status
            .status.success
                i.icon
                h1 充值成功
            .info
                p.clearfix
                    span 储蓄卡
                    span 建设银行(5800)
                p.clearfix
                    span 充值金额
                    span ¥10,000.00
            button.m-btn.btn-yellow 完成
            .scan
                a(href="#") 查看我的资产
                i.icon.icon-right
    script(src="js/licai.js")