//充值
extends ../layout

block header
    include ./block/header
block main
    .m-container.withdraw
        .m-form.mt-20
            .m-form-item.m-border-t
                label.list-label 储蓄卡
                input#cardNum(type="text",class="list-input",placeholder="建设银行（5800）")
        .m-form.m-border-t.m-border-b
            .m-form-item.m-border-t
                label.list-label 充值金额
                input#money(type="text",class="list-input",placeholder="限额单笔5万，单日20万")
            .m-form-item.m-border-t.code
                label.list-label 验证码
                input#sms(type="text",class="list-input",placeholder="请输入")
                button#code.code-btn 发送验证码
                //button.code-btn.disabled 60秒
        p.tip 验证码发送到132****0918
        button.m-btn.btn-yellow(disabled)#recharge_btn 充值
        .ensure-mark.g-mark
            p 由阳光保险提供账户资金安全保障
                i.icon2.icon-lcsafeguard01
    script(src="js/licai.js")
    script.
        function recharge() {
            var $code_btn = $('#code'),
                    $recharge_btn = $('#recharge_btn'),
                    order_no,
                    second,
                    intervalId;
            $code_btn.on('click', function () {
                var money = $.trim($('#money').val()), codeNum = 60;
                if (checkCode(money) && !$code_btn.hasClass('disabled')) {
                    $code_btn.addClass("disabled");
                    $code_btn.html(codeNum + '秒');
                    $('.tip').show();
                    var clk = setInterval(function () {
                        if (codeNum < 1) {
                            clearInterval(clk);
                            $code_btn.removeClass("disabled").html("发送验证码");
                            return;
                        }
                        $code_btn.text(codeNum + '秒');
                        codeNum--;
                    }, 1000);
                    brd_ajax({
                        url: 'LcRecharge/orderSubmit',
                        data: {money: money},
                        success: function (opts, response) {
                            if (response.result.code == 1) {
                                order_no = response.data.order_no;
                            }
                        },
                        error: function (opts, response) {
                            if (typeof(response.result.code) == 'number') {
                                console.log(response.result.msg)
                            } else {
                                console.log(response.result.code)
                            }
                        }
                    });
                }
                else if(!checkCode(money)){
                    $.message({text:'请先输入充值金额'});
                }
            });
            $recharge_btn.on('click', function () {
                if (checkRechargeBtn()) {
                    $('#recharge_btn').attr('disabled',true);
                    brd_ajax({
                        url: '/LcRecharge/affirmPayOrder',
                        data: {order_number: order_no, vcode: $('#sms').val()},
                        success: function (opts, response) {
                            if (response.result.code == 1) {
                                order_no = response.data.order_no;
                                second = 15;
                                submit(order_no);
                            }
                        },
                        error: function (opts, response) {
                            console.log(response.result.msg);
                        }
                    });
                }
            });
            function submit(order_no) {
                brd_ajax({
                    url: '/LcRecharge/checkRechargeResult',
                    data: {orderNo: order_no},
                    success: function (opts, response) {
                        if (response.result.code == 1) {
                            location.href = response.data.redirect_url;
                        } else {
                            intervalId = setInterval("countdown()", 1000);
                        }
                    },
                    error: function (opts, response) {
                    }
                });
            }

            function countdown() {
                if (second < 0) {
                    clearInterval(intervalId);
                    location.href = '/LcRecharge/rechargeResult/orderNo/' + order_no;
                }
                if (second == 11) {
                    submit(order_no);
                }
                if (second == 6) {
                    submit(order_no);
                }
                if (second == 1) {
                    submit(order_no);
                }
                --second;
            }

            function checkCode(money) {
                return money && money.match(/^\d*$/);
            }

            function checkRechargeBtn() {
                var money = $.trim($('#money').val()),
                    sms = $.trim($('#sms').val());
                return checkCode(money) && sms;
            }
            $('#money,#sms').on('input', function(){
                console.log(checkRechargeBtn() ? null : true)
                $('#recharge_btn').attr('disabled',checkRechargeBtn() ? null : true);
            })
        }
        Domready(function () {
            recharge();
        });
