//还款计划
extends ../layout
block header
    include ./block/header
block main
    .m-container.repayment
        h2 倍利宝1号
        p
            span *
            span 以下数据根据“投资金额10万元”计算，您的收益以实际到账金额为准。
        table
            tbody
                tr
                    td 还款期次：
                    td 一次
                tr
                    td 还款方式：
                    td 一次性还本付息
                tr
                    td 期限：
                    td 90天
                tr
                    td 起息时间：
                    td 2016-02-20
                tr
                    td 到期时间：
                    td 2016-05-20
                tr
                    td 本金：
                    td 100,000.00
                tr
                    td 利息：
                    td 750.00
    script(src="js/licai.js")
