//安全保证
extends ../layout
block header
	include ./block/header
block main
	.m-container
		.safety
			.banner
			.content
				.item.m-border-b
					.title 投资保险保障
					.con
						p 作为阳光保险集团旗下企业，阳光钱包承诺，为了保障投资用户100%的理财安全，在阳光钱包中购买的任何理财产品，均由阳光保险集团提供保证保险，保障本金、收益安全。
						p 阳光保险集团是中国七大保险集团之一，是中国500强、中国服务业100强企业。不同于一般担保公司，保险公司在保障、赔付方面的能力更强。
						p 阳光钱包可以保证用户本金+收益到期后正常提现，相比其他平台对逾期和坏账无法进行赔付的情况，阳光钱包的保障更全面。
				.item
					.title 信用保险是什么
					.con
						p 信用保险是指权利人向保险人投保债务人的信用风险的一种保险，其原理是把债务人的保证责任转移给保险人，当债务人不能履行其义务时，由保险人承担赔偿责任。不同于资金安全险只保个人账户的资金安全信用险切实的保障了用户的投资安全，当借款人发生逾期时，由保险公司无条件赔付。
				.pic