//我的设置
extends ../layout
block header
    include ./block/header
block main
    .m-container.asset.setting
        .invest-header
            .portait.clearfix
                a(href="#")
                    img(src="img/licai/ensure-icon.png")
                .info
                    p.mt-10 *大鹏
                    p.mt-20 131****2801
        .m-list.m-border-t.m-border-b
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 实名认证
                    span.icon.icon-right
                    span.odd 已认证
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 手机号
                    span.icon.icon-right
                    span.odd 131****2801
        .m-list.m-border-t.m-border-b
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 完善资料
                    span.icon.icon-right
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 我的银行卡
                    span.icon.icon-right
                    span.odd 已绑定
            .m-list-item.m-border-t
                a(href="#")
                    label.f32 密码管理
                    span.icon.icon-right
        .m-list
            .m-list-item
                a(href="#")
                    label.f32 服务中心
                    span.icon.icon-right
        button.logout 退出登录
        include ./block/ensure_mark
    include ./block/footer
    script(src="js/licai.js")