<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title #{title}
        meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1,minimun-scale=1,user-scalable=no")
        |<meta name="format-detection" content="telephone=no">
        |<meta name="apple-mobile-web-app-capable" content="yes">
        |<meta name="apple-mobile-web-app-status-bar-style" content="black">
        
        // 整合之后公共资源
        link(href="css/public.css",rel="stylesheet")
        script.
            var appId       = 'wx9ebe62299c9a74ee';
            var timestamp   = '1456191040';
            var nonceStr    = 'NKzlxrmr2jjDqTHg';
            var signature   = '7683af589c1cbb1065f0a2f3adf043564006a83b'
            var is_wx_browser = 0;
            var img_host = 'http://pic.baorendai.cn';
    
        |<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        script(src="js/old/index.js")
        
        // 原资源文件
        //link(href="js/frozen-1.3.0/css/frozen.css",rel="stylesheet")
        //<script src="js/frozen-1.3.0/lib/zepto.min.js"></script>
        //<script src="js/frozen-1.3.0/lib/zepto.cookie.js"></script>
        //<script src="js/frozen-1.3.0/lib/zepto.alert.js"></script>
        //<script src="js/frozen-1.3.0/js/frozen.js"></script>
        
        //<script language="javascript" src="js/wechat/js/wechat.js"></script>
        //<script language="javascript" src="js/wechat/js/brd_wechat.js"></script>
        
        // baidu 统计
        script.
            var _hmt = _hmt || [];
            (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1561c5ef1687bd1f6bc799f6b108dedb";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
            })();
        
        block styles
    block body
        body
            block header
            block main